<app-header></app-header>
<div class="w-full p-9">
  <div class="flex flex-row bg-white rounded-t-2xl py-6 px-4 mt-9 items-center w-full gap-5">
    <div class="w-full flex items-center justify-center px-20">
      <img src="assets/enhancor.png" />
    </div>
    <div class="w-full px-20">
      <form [formGroup]="changePasswordForm">
        <div class="w-full mt-10">
          <app-input
            [labelClass]="'font-light'"
            [inputClass]="'login-input'"
            [inputLabel]="'Old Password'"
            [inputType]="'password'"
            [control]="changePasswordForm.get('oldPassword')"
          ></app-input>
        </div>
        <div class="w-full mt-4">
          <app-input
            [labelClass]="'font-light'"
            [inputClass]="'login-input'"
            [inputLabel]="'New Password'"
            [inputType]="'password'"
            [control]="changePasswordForm.get('newPassword')"
          ></app-input>
        </div>
        <div class="w-full mt-4">
          <app-input
            [labelClass]="'font-light'"
            [inputClass]="'login-input'"
            [inputLabel]="'Confirm New Password'"
            [inputType]="'password'"
            [control]="changePasswordForm.get('confirmPassword')"
          ></app-input>
        </div>
        <div class="w-full mt-7">
          <button
            [disabled]="changePasswordForm.invalid"
            (click)="changePassword()"
            class="w-full h-[60px] text-base font-semibold tracking-widest uppercase bg-[var(--login-button-bg)] text-[var(--login-button-text)] rounded"
          >
            change password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
