<app-header></app-header>
<div class="w-full p-9">
  <div class="flex flex-row bg-white justify-between rounded-t-2xl py-6 px-4 items-center w-full">
    <div class="w-2/4">
      <app-search-input (searchTextChange)="onSearchTextChange($event)"></app-search-input>
    </div>
    <div class="flex flex-row w-fit gap-5">
      <div class="w-full text-right">
        <app-menu-button
          [buttonHeight]="'40'"
          [label]="'Download Reports'"
          [icon]="'pi-download'"
          [items]="menuItems"
        ></app-menu-button>
      </div>
      <div class="w-[500px] text-right">
        <app-button
          *appHasPermission="'addProperty'"
          (onClick)="addEditRecord()"
          [label]="'Add New Service Address'"
          [icon]="'pi-plus-circle'"
        ></app-button>
      </div>
    </div>
  </div>
  <ng-container *appHasPermission="'viewProperty'">
    <app-table
      *ngIf="dataList.length > 0"
      [actionPermissions]="actionPermissions"
      [checkboxSelectionVisible]="false"
      [dataList]="dataList"
      (recordSelected)="onRecordSelected($event)"
      [dataColumns]="dataColumns"
      [actionsVisible]="true"
      [svgIcons]="[
        { action: 'edit', icon: 'edit' },
        { action: 'delete', icon: 'delete' },
        { action: 'accountNumber', icon: 'add' }
      ]"
      (actionClick)="onActionClick($event)"
    ></app-table>
  </ng-container>
</div>
