<div class="flex flex-col">
  <div class="px-3 flex flex-col text-lg font-semibold leading-10 text-[var(--recent-uploads)]">
    <div class="flex items-center"><svg-icon [key]="'auditlogs'" [size]="'lg'" class="mr-4" />Folders</div>
    <div class="h-[80vh] overflow-auto">
      <div
        class="px-5 flex items-center justify-start"
        *ngFor="let folder of uploadedFolders.slice(0, displayFolderCount); let i = index"
        [ngClass]="selectedFolder.folderName == folder.folderName ? 'bg-[#e8e9ff]' : ''"
      >
        <!-- Folder -->
        <div class="flex flex-row items-center cursor-pointer py-4" (click)="openFolder(folder)">
          <div class="basis-1/12 mr-3 flex items-center justify-center">
            <svg-icon [key]="'file'" [size]="'lg'" [color]="folder.count == folder.files.length ? 'green' : 'blue'" />
          </div>
          <div class="flex flex-col basis-11/12">
            <div class="font-medium text-base">
              {{ folder.folderName ? folder.folderName : "-" }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="text-center cursor-pointer text-xs font-medium mt-8 text-[var(--show-more)]"
        (click)="loadMore()"
        *ngIf="uploadedFolders.length > displayFolderCount"
      >
        show more <svg-icon [key]="'showmore'" [size]="'sm'" class="ml-1" />
      </div>
      <div
        *ngIf="uploadedFolders.length == displayFolderCount"
        class="text-center cursor-pointer text-xs font-medium mt-8 text-[var(--show-more)]"
        (click)="loadLess()"
      >
        show less <svg-icon [key]="'showless'" [size]="'sm'" class="ml-1" />
      </div>
      <div #bottom></div>
    </div>
  </div>
</div>
