<form [formGroup]="filterForm">
  <div class="grid grid-cols-6 w-full gap-5 items-center justify-center">
    <div class="w-full max-w-full">
      <app-dropdown
        [dropdownLabel]="'Filter By Year'"
        [dropdownItems]="years"
        [selectedItem]="selectedYear"
        (onSelect)="onYearSelect($event.value)"
        [control]="filterForm.get('year')"
        [optionLabel]="'value'"
      ></app-dropdown>
    </div>
    <div class="w-full max-w-full">
      <app-dropdown
        [dropdownLabel]="'Filter By Month'"
        [dropdownItems]="months"
        [selectedItem]="selectedMonth"
        (onSelect)="onMonthSelect($event.value)"
        [control]="filterForm.get('month')"
        [optionLabel]="'label'"
      ></app-dropdown>
    </div>
    <div class="w-full max-w-full">
      <app-dropdown
        [dropdownLabel]="'Filter By Day'"
        [dropdownItems]="days"
        [selectedItem]="selectedDay"
        (onSelect)="onDaySelect($event.value)"
        [control]="filterForm.get('day')"
        [optionLabel]="'value'"
        [disabled]="!selectedMonth || selectedMonth == null ? true : false"
      ></app-dropdown>
    </div>
    <div class="w-full max-w-full">
      <app-dropdown
        *ngIf="ugpId != '9'"
        [dropdownLabel]="'Filter By User'"
        [dropdownItems]="users"
        [selectedItem]="selectedUser"
        (onSelect)="onUserSelect($event.value)"
        [control]="filterForm.get('id')"
        [optionLabel]="'fullName'"
      ></app-dropdown>
    </div>
    <div class="w-full mt-5">
      <app-button [label]="'Search'" [icon]="'pi-search'" (onClick)="onSearch()"></app-button>
    </div>
    <div class="w-full mt-5">
      <label class="cursor-pointer hover:underline" (click)="resetFilter()">Reset Filter</label>
    </div>
  </div>
</form>
