<app-header></app-header>
<div class="w-full p-9">
  <!-- <app-title-card
    [title]="'Property'"
    [description]="'Find Details of all Property together in one place'"
  ></app-title-card> -->
  <div class="flex flex-row bg-white rounded-t-2xl py-6 px-4 items-center w-full">
    <div class="w-full flex flex-row gap-5">
      <div class="min-w-max">
        <app-select-button
          (onSelectionChange)="onSelectionChange($event)"
          [options]="selectButtonOptions"
        ></app-select-button>
      </div>
      <div class="w-2/5">
        <app-search-input
          *ngIf="searchTextVisible"
          [height]="'h-10'"
          (searchTextChange)="onSearchTextChange($event)"
        ></app-search-input>
      </div>
    </div>
    <div class="w-72 text-right">
      <app-button
        *appHasPermission="'addPropertyGroup'"
        (onClick)="addEditRecord()"
        [label]="'Add New Property'"
        [icon]="'pi-plus-circle'"
      ></app-button>
    </div>
  </div>
  <ng-container *appHasPermission="'viewPropertyGroup'">
    <app-table
      *ngIf="dataList.length > 0"
      [actionPermissions]="actionPermissions"
      [actionsVisible]="true"
      [svgIcons]="actionItems"
      (actionClick)="onActionClick($event)"
      [checkboxSelectionVisible]="false"
      [dataList]="dataList"
      (recordSelected)="onRecordSelected($event)"
      [dataColumns]="dataColumns"
    ></app-table>
  </ng-container>
</div>
