<div class="rounded-lg">
  <div
    class="w-full flex flex-row items-center bg-[var(--content-dialog-bg)] text-[var(--content-dialog-text)] px-4 py-1"
  >
    <div class="text-xl w-full font-medium leading-10">Filter by Date</div>
    <div class="w-full text-right">
      <svg-icon key="close" [size]="'md'" class="cursor-pointer" (click)="close()" />
    </div>
  </div>
  <div class="w-full p-4">
    <app-select-button
      (onSelectionChange)="onSelectionChange($event)"
      [options]="selectButtonOptions"
      [value]="currentSelection"
    ></app-select-button>
    <form class="mt-5" [formGroup]="filterForm">
      <div class="flex flex-row items-center justify-start gap-5 mt-5">
        <app-datepicker
          class="w-1/2"
          [inputClass]="'form-datepicker'"
          [labelClass]="'form-label'"
          [inputLabel]="'From Date'"
          [control]="filterForm.get('fromDate')"
          [minDate]="minDate"
          [maxDate]="maxDate"
        ></app-datepicker>
        <app-datepicker
          class="w-1/2"
          [inputClass]="'form-datepicker'"
          [labelClass]="'form-label'"
          [inputLabel]="'To Date'"
          [control]="filterForm.get('toDate')"
          [minDate]="minDate"
          [maxDate]="maxDate"
        ></app-datepicker>
      </div>

      <!-- Submit Button -->
      <div class="flex flex-row items-center justify-center w-full mt-9 text-center mb-4 gap-5">
        <div class="w-full">
          <app-button
            [disabled]="!filterForm.valid"
            [buttonClass]="'button-secondary-bg'"
            [label]="'Apply Filter'"
            (onClick)="applyFilter()"
          ></app-button>
        </div>
      </div>
    </form>
  </div>
</div>
